/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-feb-2024, 9:38:07
    Author     : tecno1
*/
html

h2{
    color: black    ;
}

h1{
    
    color: black;
}

h4{
    
    color: black;
    
    
}

a {
    
    color: black;
}

body {
   border:3px black;
   border-radius:22px;
   
}

#Imatges {position:relative; top:-470px; left:550px; }



